<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="day" class="afternoon" class="night">

  <div class="dashboard-container">
    <div class="account">
      <h1>
        TO DO LIST ACTIVITY
      </h1>

      <p>Welcome to To Do List Website!
      </p>
      <p class="desc">You can store your to do activity and manage it
      </p>
      <div class="sign">
        <a href="/signUp">
          <button class="signUp-btn">
            SIGN UP
          </button>
        </a>
        <div class="signIn">
          <span>Already have an account?</span>
          <span>
            <a href="/signIn">
              SIGN IN
            </a>
          </span>
        </div>
      </div>
    </div>

    <div class="image">
      <img src="/images/Reading list-pana.png" alt="icon todo" class="vector-img">
    </div>


  </div>


  <script src="javaScripts/setTime.js"></script>

</body>

</html>