<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Lists</title>

    <!-- Style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="stylesheets/style2.css">
</head>

<body class="day" class="afternoon" class="night">
    <!-- Header -->
    <div class="header">
        <div class="nav">
            <h1><i class="fa-solid fa-clipboard-check"></i>To-Do Activity</h1>
            <form action="/todolist" method="post">
                <div class="userInput">
                    <label for="addItem"></label>
                    <input type="text" id="addItem-list" name="todo" placeholder="Your To-do List">
                    <button type="submit">Submit</button>
                </div>
            </form>
            <form action="/todolist/delete" method="post">
                <div class="deleteInput">
                    <input type="text" name="todo" placeholder="Delete Your Activity">
                    <button type="submit">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>

            </form>

            <form action="/logOut" method="post">
                <button class="logOut-btn">LOG OUT</button>
            </form>

        </div>
    </div>

    <!-- Main / Add Lists -->
    <div class="main">
        <h2 class="greet">Hello! What are your plans today?</h2>

        <div class="toDoLists">
            <form action="/todolist" method="get">
                <% for(let i=0; i< data.length; i++) { %>
                    <div class="items">
                        <div class="item">
                            <p>
                                <%= data[i].todo %>
                            </p>
                            <div class="icon">
                                <input type="checkbox" id="checkbox" class="checkbox" value="done">
                            </div>
                        </div>
                    </div>
                    <% } %>

            </form>
        </div>
    </div>

    <!-- Script -->
    <script src="javaScripts/setTime.js"></script>

</body>

</html>