@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #2a3a42;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.back {
  display: flex;
  margin-top: 40px;
  margin-left: 30px;
  z-index: 1;
  text-decoration: none;
}

.back p {
  font-size: 12px;
  margin-left: 8px;
  text-align: center;
  margin-top: -8px;
  text-decoration: none;
}

.sign-up-card {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.title {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-content: center;
  letter-spacing: 2px;
  text-align: center;
}

.title h1 {
  margin-bottom: 15px;
  letter-spacing: 10px;
  color: #2a3a42;
  font-size: 50px;
}

.title h3 {
  margin-bottom: 35px;
  font-weight: lighter;
  color: #2a3a42;
}

h5 {
  font-size: 15;
  margin-bottom: 10px;
  color: #2a3a42;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(233, 167, 27);
  border-radius: 5px;
}

form {
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-content: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-content: center;
}

i {
  font-size: 12px;
  margin-right: 5px;
  color: #2a3a42;
}

.container input {
  margin-bottom: 35px;
  width: 245px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-top: 10px;
  color: #2a3a42;
  border-style: none;
  font-size: 10px;
  outline: none;
  background: none;
  letter-spacing: 1px;
}

.container input:focus {
  background: none;
  color: #2a3a42;
  border: #191b1c solid 1px;
  border-radius: 5px;
  margin-left: 5px;
}

.container input::placeholder {
  padding: 3px;
  margin: auto;
  color: #2a3a42;
}

.container button {
  width: 100px;
  height: 45px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  justify-content: right;
  background-color: #2a3a42;
  color: white;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: -5px;
}

.container button:hover {
  background-color: #a4b4bc;
  color: white;
  transition-duration: 0.75s;
  outline: none;
  border: none;
  border-style: none;
}

.sign-in {
  display: flex;
  margin: auto;
  font-size: 12px;
  margin-bottom: 35px;
}

a h4 {
  margin: auto;
  margin-left: 35px;
  letter-spacing: 1px;
}

/* Background changes based on Time  */
.day {
  background: linear-gradient(rgb(105, 188, 221), rgb(224, 220, 152));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.afternoon {
  background: linear-gradient(rgb(233, 153, 187), rgb(224, 220, 152));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.night {
  background: linear-gradient(rgb(10, 10, 17), rgb(160, 128, 197), rgb(206, 211, 231));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
